@charset "UTF-8";
/*-----------------------MENU Nav General-----------------------*/
* {
  margin: 0;
  box-sizing: border-box; }

.gridPadre {
  display: grid;
  grid-template-rows: repeat(1, 1fr); }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4; }

.logo {
  width: 99px;
  margin-right: 60px;
  margin-top: 5px; }

.logoLogin {
  width: 50px;
  margin-left: 60px; }

.menu {
  background-color: #B06910;
  height: 79px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px #000001; }

.menu_items {
  display: flex;
  list-style: none; }

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
  margin-top: 1em; }

.menu_items li a {
  padding: 7px 15px;
  text-decoration: none;
  font-size: 1.3em;
  display: block;
  color: #fff; }

.active1 {
  color: #fff;
  opacity: .6;
  background-color: black; }

.menu_items li:hover {
  color: #fff;
  opacity: .6;
  background-color: black;
  border-radius: 15px;
  transition: all .6s; }

/*-----------------------------------Customización Index, gridPadre con 6 hijos en filas-----------------------*/
.gridPadreIndex {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 3px; }

.hijo1 {
  grid-row: 1/2;
  grid-column: 1/2; }

.hijo2 {
  grid-row: 2/3;
  grid-column: 1/2; }

.hijo3 {
  grid-row: 3/4;
  grid-column: 1/2; }

article h1 {
  font-size: 1.5em;
  margin-left: 2.7%; }

.hijo4 {
  grid-row: 4/5;
  grid-column: 1/2; }

.contenedorHijo4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #FFFFFF; }

.nietoHijo4 {
  width: 210px;
  height: 125px;
  margin: 20px;
  padding: 0 2em;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: #FFFFFF;
  align-content: center;
  box-shadow: 5px 10px 10px #60609f;
  border-top: 7px solid #ED9E77; }

.categoriaTitle {
  text-align: center; }

.logoTarjeta {
  width: 30px;
  margin-left: 140px; }

.tituloTarjeta,
.textoTarjeta {
  text-align: center;
  font-size: 1.2em; }

.tex {
  /*quita decorado de los link de la categoria de productos Index*/
  text-decoration: none; }

.textLight {
  color: #a3a5ae;
  font-size: 0.8em; }

.contenedorHijo4,
.nietoHijo4:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3); }

.hijo5 {
  grid-row: 5/6;
  grid-column: 1/2;
  background: #f2f2f2; }

.titleTarjetas {
  text-align: center;
  color: black; }

.containerCard {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.containerCard .card {
  width: 320px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s; }

.containerCard .card:hover {
  transform: translateY(-15px);
  /*La card sube 15px*/
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  /*tonalidad del fondo Card*/ }

.containerCard .card img {
  width: 330px;
  height: 220px; }

.containerCard .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300px; }

.containerCard .card a {
  font-weight: 500px;
  text-decoration: none;
  color: #3498db; }

.hijo6 {
  grid-row: 6/7;
  grid-column: 1/2; }

/*------------------------Footer Global------------------------*/
.footerGlobal {
  background: #e9cfa3;
  padding: 2rem 0;
  text-align: center; }

.footerGlobal a {
  color: black; }

.footerGlobal ul {
  margin: 0;
  padding: 0; }
  .footerGlobal ul li {
    display: inline-block; }
    .footerGlobal ul li a {
      display: block;
      padding: 0.1rem 1em; }

.footerGlobal div img {
  width: 35px; }

.containerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

.containerFooter div {
  margin-left: 100px; }

.footerIcons {
  margin-right: 200px; }

.footerLista li {
  margin-left: 100px; }

/*-------------------Customizacion de Login---------------------------------------------------------------*/
.gridPadreLogin {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 3px; }

.hijo1Login {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2; }

.hijo2Login {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 3/4; }

.inputFormulario {
  padding: 5px;
  font-size: 14px;
  border-width: 3px;
  border-color: #f99898;
  background-color: #f2f2f2;
  color: #000000;
  border-style: groove;
  border-radius: 9px;
  box-shadow: 1px 2px 0px rgba(66, 66, 66, 0);
  text-shadow: 0px 0px 1px rgba(66, 66, 66, 0); }

.inputFormulario:focus {
  outline: none; }

.botonFormulario {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e08312;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin: 10px;
  margin-left: 2em; }

.botonFormulario:hover {
  background-color: #eb675e; }

.botonFormulario:active {
  position: relative;
  top: 1px; }

.formularioContent {
  padding: 50px;
  border-style: solid;
  border-radius: 5%; }

/*-------------------------------Customización Promociones, gridPadre con 6 hijos en filas---------------------*/
.gridPadrePromociones {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 3px;
  background-color: #FFFFFF; }

.hijo1Promociones {
  grid-row: 1/2;
  grid-column: 1/2; }

.hijo2Promociones {
  grid-row: 2/3;
  grid-column: 1/2; }

.hijo3Promociones {
  grid-row: 3/4;
  grid-column: 1/2; }

.hijo4Promociones {
  grid-row: 4/5;
  grid-column: 1/2; }

.tituloPromociones {
  font-size: 3em;
  margin-left: 23%;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFFFFF; }

.box {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #c2b5b5;
  border-radius: 14px;
  text-align: center;
  margin-top: 100px;
  position: relative;
  background-color: #FFFFFF; }

.box img {
  width: 60%;
  transition: all 400ms; }

.box h2 {
  font-size: 16px;
  margin-top: 10px;
  transition: all 500ms; }

.box .container-p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0px 10px;
  border-radius: 0px 0px 14px 14px; }

.box p {
  font-size: 14px;
  color: #7a7a7a;
  opacity: 0;
  transform: translateY(150px);
  transition: all 600ms; }

.detalleProducto {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none; }

.precioAnterior {
  text-decoration: line-through;
  color: red;
  font-size: 1.2em; }

.box:hover {
  background: #fbfbfe; }

.box:hover:hover img {
  transform: translateY(-90px); }

.box:hover:hover h2 {
  transform: translateY(-90px); }

.box:hover .container-p p {
  transform: translateY(0px);
  opacity: 1; }

.box-selected {
  border-color: red;
  transition: all 600ms; }

/*-------------------------Layout Productos---------------------------------*/
.gridPadreProductos {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 3px; }

.hijo1Productos {
  grid-template-rows: 1/2;
  grid-column: 1/2; }

.hijo2Productos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-template-rows: 2/3;
  grid-column: 1/2; }

.cont-menu {
  height: 79px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px #000001; }

.cont-menu {
  background: #fff;
  padding: 2rem 0;
  text-align: center; }

.cont-menu ul {
  margin: 0;
  padding: 0; }
  .cont-menu ul li {
    display: inline-block; }
    .cont-menu ul li a {
      display: block;
      padding: 0.5rem 1em;
      text-decoration: none;
      font-size: 2em;
      background-color: #f2f2f2;
      color: black;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border: 1px solid black;
      border-radius: 15px;
      opacity: 0.5; }

.botonColor1 {
  font-style: italic;
  color: black;
  background-color: black;
  border-radius: 15px;
  opacity: .5; }

/*----------------Layout seccion About----------------------------------------------------------------------------*/
/*----------------------------------------Layout Seccion About---------------------------------*/
main {
  width: 85%;
  max-width: 850px;
  margin: 0 auto; }

.gridPadreAbout {
  display: grid;
  grid-template-rows: repeat(1, 1fr); }

.hijo1About {
  grid-template-rows: 1/2;
  grid-column: 1/2;
  padding: 10px; }

.hijo2About {
  grid-template-rows: 2/3;
  grid-column: 1/2; }

.hijo23About {
  grid-auto-rows: 3/4;
  grid-column: 1/2; }
