/*-------------------------Layout Productos---------------------------------*/
.gridPadreProductos{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 3px;
}

.hijo1Productos{
    grid-template-rows: 1/2;
    grid-column: 1/2;
}

.hijo2Productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-template-rows: 2/3;
    grid-column: 1/2;
}

.cont-menu{
    height: 79px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgb(0,0, .6);
}

.cont-menu{
    background: #fff;
    padding: 2rem 0;
    text-align: center;
}

.cont-menu {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 0.5rem 1em;
          text-decoration: none;
          font-size: 2em;
          background-color: #f2f2f2;
          color: black;
          font-family: Georgia, 'Times New Roman', Times, serif;
          border: 1px solid black;
          border-radius: 15px;
          opacity: 0.5;
        } 
      }
    }
  }

  .botonColor1{
      font-style:italic;
      color: black;
      background-color: black;
      border-radius: 15px;
      opacity: .5;
  }
  