/*----------------Layout seccion About----------------------------------------------------------------------------*/
/*----------------------------------------Layout Seccion About---------------------------------*/
main{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.gridPadreAbout{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

.hijo1About{
    grid-template-rows: 1/2;
    grid-column: 1/2;
    padding: 10px;
}

.hijo2About{
    grid-template-rows: 2/3;
    grid-column: 1/2;
}

.hijo23About{
    grid-auto-rows: 3/4;
    grid-column: 1/2;
}