/*-------------------Customizacion de Login---------------------------------------------------------------*/
.gridPadreLogin{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 3px;
  }
  
  .hijo1Login{
    display: grid;
     grid-row: 1/2;
     grid-column: 1/2;
  }

  .hijo2Login{
      display: grid;
      grid-template-columns: 50% 50%;   
      grid-row: 3/4;
  }

  
  .inputFormulario {
    padding: 5px;
    font-size: 14px;
    border-width: 3px;
    border-color: #f99898;
    background-color: #f2f2f2;
    color: #000000;
    border-style: groove;
    border-radius: 9px;
    box-shadow: 1px 2px 0px rgba(66, 66, 66, 0);
    text-shadow: 0px 0px 1px rgba(66, 66, 66, 0); }
  
  .inputFormulario:focus {
    outline: none; }
  
  .botonFormulario {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e08312;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin: 10px;
    margin-left: 2em; }
  
  .botonFormulario:hover {
    background-color: #eb675e; }
  
  .botonFormulario:active {
    position: relative;
    top: 1px; }
  
  .formularioContent {
    padding: 50px;
    border-style: solid;
    border-radius: 5%;
  
  }
  
  


