/*-----------------------------------Customización Index, gridPadre con 6 hijos en filas-----------------------*/
.gridPadreIndex{
  display: grid;
  grid-template-rows: repeat(1,1fr);
  gap: 3px;
}

.hijo1{
  grid-row: 1/2;
  grid-column: 1/2;
}

.hijo2{
 grid-row: 2/3;
 grid-column: 1/2;
}

.hijo3{
  grid-row:3/4 ;
  grid-column: 1/2;
}


article{
    h1{
      font-size: 1.5em;
      margin-left:2.7%;
    }
  }


.hijo4{
  grid-row: 4/5;
  grid-column: 1/2;
}

.contenedorHijo4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #FFFFFF; 
}

.nietoHijo4{
  width: 210px;
  height: 125px;
  margin: 20px;
  padding: 0 2em;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: #FFFFFF;
  align-content: center;
  box-shadow: 5px 10px 10px #60609f;
  border-top: 7px solid #ED9E77;
}

.categoriaTitle {
  text-align: center;
 }

.logoTarjeta {
  width: 30px;
  margin-left: 140px; 
}

.tituloTarjeta,
.textoTarjeta {
  text-align: center;
  font-size: 1.2em;
 }

 .tex{ /*quita decorado de los link de la categoria de productos Index*/
   text-decoration: none;
 }

.textLight {
  color: #a3a5ae;
  font-size: 0.8em; 
}

.contenedorHijo4,
.nietoHijo4:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3); 
}


.hijo5{
  grid-row: 5/6;
  grid-column: 1/2;
  background: #f2f2f2;
}

.titleTarjetas {
  text-align: center;
  color: black; 
}

.containerCard {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
 }

.containerCard .card {
  width: 320px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s; 
}

.containerCard .card:hover {
  transform: translateY(-15px);
  /*La card sube 15px*/
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  /*tonalidad del fondo Card*/
 }

.containerCard{
  .card{
    img{
      width: 330px;
      height: 220px; 
    }
  }
  
}

.containerCard{
  .card{
    p{
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300px;
    }
  }
 }

.containerCard{
  .card{
    a{
      font-weight: 500px;
      text-decoration: none;
      color: #3498db; 
    }
  }
}

.hijo6{
  grid-row: 6/7;
  grid-column: 1/2;
}

